<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleGetInfoString</key>
  <string>XMJ Mahjong (c) by Julian Bradfield</string>
  <key>CFBundleExecutable</key>
  <string>xmj-script</string>
  <key>CFBundleIdentifier</key>
  <string>XMJ Mahjong (c) v1.16 by Julian Bradfield</string>
  <key>CFBundleName</key>
  <string>XMJ Mahjong</string>
  <key>CFBundleIconFile</key>
  <string>xmj.icns</string>
  <key>CFBundleShortVersionString</key>
  <string>1.16</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>IFMajorVersion</key>
  <integer>1</integer>
  <key>IFMinorVersion</key>
  <integer>16</integer>
</dict>
</plist>